# Cache
__pycache__/
.pytest_cache/
.ruff_cache/

# Secrets
.env

# venv
.venv

# Build artefacts
dist/*.tar.gz
dist/*.whl

# Test reports and coverage
.coverage
report.xml
coverage.xml
code-quality-report.json
